<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=first_name%> <%=last_name%> | Social Media App</title>
  <style>
    .container {
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      width: max-content;
      margin: 10px auto;
      text-align: center;
      border-radius: 10px;
    }
    .premium-tag {
      background-color: rgb(255, 215, 0, 0.2);
      border-radius: 5px;
      padding: 5px 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1><%=first_name%> <%=last_name%></h1>
    <img src="<%=avatar%>">
    <p><%=email%></p>
    <ul style="text-align: left;">
  </div>
</body>
</html>